.scrollToTopButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;

  background-color: #055084;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scrollToTopButton:hover {
  background-color: #04436f;
}

.scrollToTopButton.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
