section,
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: rgba(0, 13, 29, 1);
}

html,
body {
  height: auto;
  overflow-x: hidden;
}

html {
  touch-action: pan-y;
}
